<%- include ("partials/header.ejs") %>
<!-- intro section
   ================================================== -->
   <section id="intro">

    <div class="intro-overlay"></div>

    <div class="intro-content">
        <div class="row">

            <div class="col-twelve">

                <h5>Hello, World!</h5>
                <h1>I'm Varun Bhatt.</h1>

                <p class="intro-position">
                    <span>C++ & .Net Developer</span>
                    <!-- <span>UI/UX Designer</span>  -->
                </p>

                <a class="button stroke smoothscroll" href="#about" title="">More_About(Me);</a>

            </div>
        </div>
        <div class="row">
            <p>Code is like humor. When you have to explain it, it’s bad..
            </p>
        </div>
    </div> <!-- /intro-content -->

    <ul class="intro-social">
        <li><a href="https://www.facebook.com/varun.bhatt.98"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.linkedin.com/in/varun-bhatt-000159104/"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a href="https://www.instagram.com/varun.bhatt28/"><i class="fa fa-instagram"></i></a></li>
    </ul> <!-- /intro-social -->

</section> <!-- /intro -->


<!-- about section
================================================== -->
<section id="about">

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>About</h5>
            <h1>Let me introduce myself.</h1>

            <div class="intro-info">

                <img src="images/varun.JPG" alt="Profile Picture">

                <p class="lead">I am passionate about building excellent softwares that improve the lives of those around me.
                    I love exploring new technologies and learning new things and often like to pen down my ideas and feelings through articles and poems. 
                    I am sportsman by heart & mind and feel great on playground be it chess, volleyball, TT, tennis or badminton. You can give me browny 
                    points for Chess & Tennis. I also like to listen to light music, esp Ghazals.
                    I am not very fond of travelling but there is this peculiar tranquility and sense of excitement & fear about jungles which attract me. 
                    I had very rich childhood and I often miss that young and crazy boy in me. You know, experience comes at a price!!  
                </p>
            </div>

        </div>
    </div> <!-- /section-intro -->
    <div class="row about-content">
        <blockquote>
            <p>I am okay with failure but it’s the hope that’s killing me..</p>
        </blockquote>
    </div>

    <div class="row about-content">

        <div class="col-six tab-full">

            <h3>Profile</h3>
            <p> Over 9.5 years of experience in developing Enterprise software applications using C++, C# and .net
                technologies on Windows and UNIX in CAD and Finance Domains.</p>

            <ul class="info-list">
                <li>
                    <strong>Fullname:</strong>
                    <span>Varun Harshad Bhatt</span>
                </li>
                <li>
                    <strong>Birth Date:</strong>
                    <span>September 2nd, 1988</span>
                </li>
                <li>
                    <strong>Job:</strong>
                    <span>Senior Specialist - Product Development at FIS</span>
                </li>
                <li>
                    <strong>LinkedIn:</strong>
                    <span><a href="https://www.linkedin.com/in/varun-bhatt-000159104">Varun Bhatt</a></span>
                </li>
                <li>
                    <strong>Email:</strong>
                    <span>varunbhatt28@yahoo.in</span>
                </li>
                <li>
                    <strong>Mobile:</strong>
                    <span>+91 7262093284</span>
                </li>

            </ul> <!-- /info-list -->

        </div>

        <div class="col-six tab-full">

            <h3>Skills</h3>
            <p>Deep understanding of OOPs concepts, SOLID Principles and Design Patterns.
                Good command over Data Structures and Algorithms. Experience in Multithreading,
                writing Unit/Integration tests and managing entire software development life
                cycle using Agile methodologies.</p>

            <ul class="skill-bars">
                <li>
                    <div class="progress percent90"><span>90%</span></div>
                    <strong>C# .NET,C/C++</strong>
                </li>
                <li>
                    <div class="progress percent80"><span>80%</span></div>
                    <strong>SQL,MongoDB</strong>
                </li>
                <li>
                    <div class="progress percent70"><span>70%</span></div>
                    <strong>Web API,MVC</strong>
                </li>
                <li>
                    <div class="progress percent80"><span>80%</span></div>
                    <strong>HTML,CSS,Javascript</strong>
                </li>
                <li>
                    <div class="progress percent80"><span>80%</span></div>
                    <strong>Node JS,Express,React JS</strong>
                </li>
            </ul> <!-- /skill-bars -->

        </div>

    </div>

    <div class="row button-section">
        <div class="col-twelve">
            <a href="#contact" title="Hire Me" class="button stroke smoothscroll">Contact(me);</a>
            <a href="/downloadResume" title="Download CV" class="button button-primary">npm i CV --save</a>
        </div>
    </div>
    <br />
    <div class="row about-content">
        <blockquote>
            <p>To understand recursion, one must first understand recursion..
            </p>
            <cite>Stephen Hawking</cite>
        </blockquote>
    </div>

</section> <!-- /process-->


<!-- resume Section
================================================== -->
<section id="resume" class="grey-section">

    <div class="row section-intro">
        <div class="col-twelve">

            <!-- <h5>Resume</h5> -->
            <h1>More of my credentials.</h1>

            <p class="lead">The master has failed more times than the beginner has even tried.</p>

        </div>
    </div> <!-- /section-intro-->

    <div class="row resume-timeline">

        <div class="col-twelve resume-header">

            <h2>Work Experience</h2>

        </div> <!-- /resume-header -->

        <div class="col-twelve">

            <div class="timeline-wrap">

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-briefcase"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>Senior Specialist - Product Development</h3>
                        <p>Oct 2015 - Present</p>
                    </div>

                    <div class="timeline-content">
                        <h4>FIS</h4>
                        <p>I got exposure to finance world working on the products like Ambit Capital Management and Phase3.
                            Mainly worked in C/C++, .Net C#, Winforms, ASP .Net Web APIs and FIX Protocol. </p>
                    </div>

                </div> <!-- /timeline-block -->

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-briefcase"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>Software Specialist</h3>
                        <p>June 2013 - Oct 2015</p>
                    </div>

                    <div class="timeline-content">
                        <h4>PTC Software</h4>
                        <p>I worked on 2 products here - CADDS5 and Creo.
                            Both were modelling softwares. I mainly worked
                            in C/C++ on Windows and Solaris. </p>
                    </div>

                </div> <!-- /timeline-block -->

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-briefcase"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>Senior Software Engineer </h3>
                        <p>Aug 2010 - May 2013</p>
                    </div>

                    <div class="timeline-content">
                        <h4>IGate</h4>
                        <p>I worked on 2 projects here - PL1 to C++ migration and AVEVA NET Gateways.
                            I learned many core concepts working in C++ migration project.
                            It eventually helped me to learn the other programming languages.</p>
                    </div>

                </div> <!-- /timeline-block -->

            </div> <!-- /timeline-wrap -->

        </div> <!-- /col-twelve -->

    </div> <!-- /resume-timeline -->


    <div class="row resume-timeline">

        <div class="col-twelve resume-header">

            <h2>Education</h2>

        </div> <!-- /resume-header -->

        <div class="col-twelve">

            <div class="timeline-wrap">

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-graduation-cap"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>B.E Electronics</h3>
                        <p>July 2006 - June 2010</p>
                    </div>

                    <div class="timeline-content">
                        <h4>BVM</h4>
                        <p>I have completed my graduation from BVM, V.V.Nagar.
                            Here I got exposure to programming and I just loved it.
                            I believe the main thing you learn in Engineering is to learn yourself.
                            I also actively participated in sports and robotics.
                            I was captain of SP University Chess team at All India Inter University Chess
                            Championship.</p>
                    </div>

                </div> <!-- /timeline-block -->

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-graduation-cap"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>Gujarat Board XII</h3>
                        <p>June 2005 - April 2006</p>
                    </div>

                    <div class="timeline-content">
                        <h4>RELIANCE SCHOOL</h4>
                        <p>I have completed my higher secondary education with major subjects as
                            Physics, Chemistry and Maths with 88%. I just loved Physics and Maths
                            as you don't have to mug up the things. This was very curcial stage of my
                            life as my career was going to be decided by that (at least we used to think so back then :D).
                        </p>
                    </div>

                </div> <!-- /timeline-block -->

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-graduation-cap"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>Gujarat Board X</h3>
                        <p>June 2003 - April 2004</p>
                    </div>

                    <div class="timeline-content">
                        <h4>RELIANCE SCHOOL</h4>
                        <p>I have completed my secondary education with 83%. This was the most beatiful
                            stage of my life. I have many golden memories from school days.
                            I made some life long friends. I actively participated in Volleyball, Chess and NCC.
                        </p>
                    </div>

                </div> <!-- /timeline-block -->

            </div> <!-- /timeline-wrap -->

        </div> <!-- /col-twelve -->

    </div> <!-- /resume-timeline -->

</section> <!-- /features -->

<!-- Portfolio Section
================================================== -->
<section id="portfolio">

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>Blogs</h5>
            <h1>Check Out Some of My Thoughts.</h1>

            <p class="lead">The biggest mistake you can make in life is to continually fear that you'll make one.</p>

        </div>
    </div> <!-- /section-intro-->

    <div class="row portfolio-content">

        <div class="col-twelve">

            <!-- portfolio-wrapper -->
            <div id="folio-wrapper" class="block-1-2 block-mob-full stack">
                <div class="bgrid folio-item">
                    <div class="item-wrap">
                        <img src="images/portfolio/luck.jpg" alt="Shutterbug">
                        <a href="#modal-01" class="overlay">
                            <div class="folio-item-table">
                                <div class="folio-item-cell">
                                    <h3 class="folio-title">What is Luck?</h3>
                                    <span class="folio-types">
                                        Abstract
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div> <!-- /folio-item -->

                <div class="bgrid folio-item">
                    <div class="item-wrap">
                        <img src="images/portfolio/learning.jpg" alt="Clouds">
                        <a href="#modal-02" class="overlay">
                            <div class="folio-item-table">
                                <div class="folio-item-cell">
                                    <h3 class="folio-title">Learning new things</h3>
                                    <span class="folio-types">
                                        Abstract
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div> <!-- /folio-item -->

                <!-- <div class="bgrid folio-item">
                    <div class="item-wrap">
                        <img src="images/portfolio/childhood.jpg" alt="Clouds">
                        <a href="#modal-03" class="overlay">
                            <div class="folio-item-table">
                                <div class="folio-item-cell">
                                    <h3 class="folio-title">Childhood</h3>
                                    <span class="folio-types">
                                        Poem
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div> /folio-item -->
                
                <!-- modal popups - begin
            ============================================================= -->
                <div id="modal-01" class="popup-modal slider mfp-hide">					

                    <div class="description-box">
                        <h4>What is Luck?</h4>
                        <p>I don't believe in luck. Luck is often talked about when there is some failure involved. 
                            Loosers use it as euphemism for failure. Champions never talk about the luck. 
                            Roger Federer, arguably one of the greatest tennis players of all time, was 3 match points up in his 
                            own service game in Wimbledon, 2019 but couldn't convert and ended up loosing the match. 
                            But he dint utter a word about luck in his post match presentation speech.
                            But still if I have to define the luck, I would say luck is when preparation meets opportunity. 
                            It is being well equipped, well prepared all the time so when opportunity 
                            comes you can grab it. There is this famous quote which nicely protrays this fact - "The harder I work, 
                            the luckier I get". Luck can help you achieve something temporarily but it can never take you to the top. 
                            It is your character, hard work, determination and never give up attitude which take 
                            you to the top. Championships are not won in the stadiums where there are thousands of fans 
                            cheering for you. Championships are won when you are burning thousands of hours practicing 
                            and nobody is watching.</p>

                        <div class="categories">- Varun Bhatt</div>
                    </div>

                    <div class="link-box">
                        <a href="#">Details</a>
                        <a href="#" class="popup-modal-dismiss">Close</a>
                    </div>

                </div> <!-- /modal-01 -->

                <div id="modal-02" class="popup-modal slider mfp-hide">				
                    <div class="description-box">
                        <h4>Learning new things</h4>
                        <p>In today's world of fierce competetion and survival of the fittest, everyone wants 
                            (and requires) to learn as much as possible. And it can be pretty difficult esp. 
                            if you are above 20 due to multiple factors such as responsibilities, lack of motivation, 
                            lack of interest or lack of patience. Out of these, if first 3 are applicable I wont suggest 
                            to go ahead with that but if lack of patience is your issue then it can be worked out. Ironically, 
                            availability of abundance of resources is aggravating the situation. 
                            Most of the people, including myself, want to learn everything as fast as possible and tend to go for short cuts. And if it doesn't 
                            work for some time end up being dishartened and giving up altogeather. I would suggest never go for short cuts. Seek proper guidance from 
                            a good mentor and find good resources to learn the basics. And the key in this process is to never focus on results and never compare with anyone. 
                            As soon as you look at the results, you will tend to get dishartened. Just enjoy the process of learning and before you realize, you would have learned 
                            significant. Let's take example of improving vocabulary. Most of the people start with learning 10/20 words per day and after few days get 
                            dishartened as they don't remember most of the words and every new word comes as burden so they end up giving up. Instead what you should do is just learn 
                            meaning of each new word and be happy that you learned a new word. Never try to remember each word you come across. Just know the meaning and each time 
                            you come across the same word in day to day life, it will become more familiar and gradually you'll build your vocabulary. This is very effective method, 
                            which has worked quite well for me and hope will work for others as well.</p>

                        <div class="categories">- Varun Bhatt</div>
                    </div>

                    <div class="link-box">
                        <a href="#">Details</a>
                        <a href="#" class="popup-modal-dismiss">Close</a>
                    </div>

                </div> <!-- /modal-02 -->

                <div id="modal-03" class="popup-modal slider mfp-hide">	

                    <div class="media">
                        <img src="images/portfolio/bachpan.jpg" alt="" />
                    </div>                       

                <div class="link-box">
                   <a href="http://www.behance.net">Details</a>
                     <a href="#" class="popup-modal-dismiss">Close</a>
                </div>		      

              </div> <!-- /modal-03 -->

                <!-- modal popups - end
            ============================================================= -->

            </div> <!-- /portfolio-wrapper -->

        </div> <!-- /twelve -->

    </div> <!-- /portfolio-content -->

</section> <!-- /portfolio -->

<!-- services Section
================================================== -->
<section id="services">

    <div class="overlay"></div>

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>Services</h5>
            <h1>What Can I Do For You?</h1>

            <p class="lead">The bottom is all very crowded but there is always a room at the top.</p>

        </div>
    </div> <!-- /section-intro -->

    <div class="row services-content">

        <div id="owl-slider" class="owl-carousel services-list">

            <div class="service">

                <span class="icon"><i class="icon-window"></i></span>

                <div class="service-content">

                    <h3>Application Development</h3>

                    <p class="desc"> I have over 9 years experience in developing Enterprise level software
                        applications. Expert in managing entire software development life cycle using Agile
                        methodologies. I am one of those fortunates who love what they do. Drop a mail if you want
                        to hire me.
                    </p>

                </div>

            </div> <!-- /service -->

            <div class="service">

                <span class="icon"><i class="icon-earth"></i></span>

                <div class="service-content">

                    <h3>Web Development</h3>

                    <p class="desc">This is something I have explored myself. I learned the latest web technologies
                        and started building the things. It feels great when you create something beautiful out of
                        nothing. If you want to create a portfolio, startup page or a web application, just drop me
                        a message.
                    </p>

                </div>

            </div> <!-- /service -->

            <div class="service">

                <span class="icon"><i class="icon-chat"></i></span>

                <div class="service-content">

                    <h3>Consultancy</h3>

                    <p class="desc">In today's world getting information or resources is not difficult but getting
                        the correct one is. I can help you in choosing right career, learning new technologies or
                        finding correct resources to improve in sports (esp. chess). I don't do this professionally
                        but I would love if I can help someone with my knowledge and experience.
                    </p>

                </div>

            </div> <!-- /service -->

        </div> <!-- /services-list -->

    </div> <!-- /services-content -->

</section> <!-- /services -->

<!-- Testimonials Section
================================================== -->
<section id="testimonials">

    <div class="text-container">

        <div class="row">

            <div class="two columns header-col">

                <h1><span>Client Testimonials</span></h1>

            </div>

            <div class="ten columns flex-container">

                <div class="flexslider">

                    <ul class="slides">

                        <li>
                            <blockquote>
                                <p>The harder I work, the luckier I get..
                                </p>
                                <cite>Samuel Goldwyn</cite>
                            </blockquote>
                        </li> <!-- slide ends -->

                        <li>
                            <blockquote>
                                <p>It is not because things are difficult that we do not dare, 
                                    it is because we do not dare that they are difficult..
                                </p>
                                <cite>Lucius Annaeus Seneca</cite>
                            </blockquote>
                        </li> <!-- slide ends -->

                        <li>
                            <blockquote>
                                <p>Some birds are not meant to be caged, that's all. Their feathers are too bright,
                                    their songs too sweet and wild. So you let them go, or when you open the cage
                                    to feed them they somehow fly out past you. And the part of you that knows it
                                    was wrong to imprison them in the first place rejoices..
                                </p>
                                <cite>Stephen King</cite>
                            </blockquote>
                        </li> <!-- slide ends -->

                        <li>
                            <blockquote>
                                <p>A lion doesn't concern itself with the opinion of sheep..
                                </p>
                                <cite>George R.R. Martin</cite>
                            </blockquote>
                        </li> <!-- slide ends -->

                        <li>
                            <blockquote>
                                <p>They laugh at me because I'm different; I laugh at them because they're all the same..
                                </p>
                                <cite>Kurt Cobain</cite>
                            </blockquote>
                        </li> <!-- slide ends -->

                    </ul>

                </div> <!-- div.flexslider ends -->

            </div> <!-- div.flex-container ends -->

        </div> <!-- row ends -->

    </div> <!-- text-container ends -->

</section> <!-- Testimonials Section End-->

<!-- contact
================================================== -->
<section id="contact">

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>Contact</h5>
            <h1>I'd Love To Hear From You.</h1>

            <p class="lead">If you found my profile interesting, have any common interests, want to hire me, need
                any guidance or just liked my picture :D, drop me a message.</p>

        </div>
    </div> <!-- /section-intro -->

    <div class="row contact-form">

        <div class="col-twelve">

            <!-- form -->
            <form name="contactForm" id="contactForm" method="post" action="">
                <fieldset>

                    <div class="form-field">
                        <input name="contactName" type="text" id="contactName" placeholder="Name" value=""
                            minlength="2" required="">
                    </div>
                    <div class="form-field">
                        <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value=""
                            required="">
                    </div>
                    <div class="form-field">
                        <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
                    </div>
                    <div class="form-field">
                        <textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10"
                            cols="50" required=""></textarea>
                    </div>
                    <div class="form-field">
                        <button class="submitform">Submit</button>
                        <div id="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </form> <!-- Form End -->

            <!-- contact-warning -->
            <div id="message-warning">
            </div>
            <!-- contact-success -->
            <div id="message-success">
                <i class="fa fa-check"></i>Your message was sent, thank you!<br>
            </div>

        </div> <!-- /col-twelve -->

    </div> <!-- /contact-form -->

    <div class="row contact-info">

        <div class="col-four tab-full">

            <div class="icon">
                <i class="icon-pin"></i>
            </div>

            <h5>Where to find me</h5>

            <p>
                Gulmohar Parkview<br>
                Kharadi Bypass,<br>
                Pune - 411014
            </p>

        </div>

        <div class="col-four tab-full collapse">

            <div class="icon">
                <i class="icon-mail"></i>
            </div>

            <h5>Email Me At</h5>

            <p>varunbhatt28@gmail.com<br>
                varunbhatt28@yahoo.in
            </p>

        </div>

        <div class="col-four tab-full">

            <div class="icon">
                <i class="icon-phone"></i>
            </div>

            <h5>Call Me At</h5>

            <p> Mobile: +91 7262093284 </p>

        </div>

    </div> <!-- /contact-info -->

</section> <!-- /contact -->
<%- include ("partials/footer.ejs") %>